<div class="card">
    <div class="card-body">
        <h3 class="card-title">Aqui você pode editar as seguintes páginas:</h3>
        <a href="/admin/categorias"><h4>Categorias</h4></a>
        <a href="/admin/postagens"><h4>Postagens</h4></a>

    </div>
</div>